﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css."+System.Threading.Thread.CurrentThread.CurrentUICulture)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("BOX", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink(" ", "Index", "Home")</li>
                            <li>@Html.ActionLink(" ", "About", "Home")</li>
                            <li>@Html.ActionLink(" ", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    &copy; @DateTime.Now.Year - My ASP.NET MVC Application
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="/scripts/indexSlider.js"></script>
        @*<script>
            $(document).ready(function () {
                if ('@Model.boxName' != '') {
                        clickonmenu('galery')
                    }
                    else {
                        clickonmenu('newsfeed')
                    }
            });

            $(document).ready(function () {
                if (shareWhatsUpUrl) {
                    document.getElementById("shareWhatsUpUrl").click();
                }
            });



        </script>*@

    </body>
</html>
