﻿@if (Request.IsAuthenticated) {
    <text>
        @ViewRes.Resource.Hello, @User.Identity.Name !
        @Html.ActionLink(@ViewRes.Resource.LogOff, "Logout", "MVP")
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Login", "WhoAreYou", "MVP")</li>
    </ul>
}
