﻿@model Dimas.Portal.Models.ModelBobMetaData

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>share</title>
    <meta property="og:site_name" content="Chosen">
    <meta property="og:title" content="@Model.title">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://www.chosen.im/en-us/Photo/Show?id=@Model.image">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="@Model.description">
</head>
<body>
    loading...
</body>
    <script>
        setTimeout(function ()
        {
            window.location = "@Html.Raw(Model.redirectUrl)";
        }, 500);
    </script>
</html>