﻿@font-face {
  font-family: 'Roboto';
  src: url('Content/RobotoCondensed-Regular.ttf');
}




html body
{
    font-family: "Roboto", Georgia, Serif;
    color:#ffffff;
}


.chosenLogo
{
    width:25.46%;
    margin:2.14%  25.3% 2.08%  0% ;
    display: inline-block;
}

.actionBarNotification
{
    width:8.98%;
    margin:1.88% 6.57% 1.77%  0% ;
  cursor: pointer;
}

.actionBarPlusIcon
{
    width:6.30%;
    margin:1.88% 5.46% 1.77%  0% ;
  cursor: pointer;
}

.navToggleImg {
    margin: 2.71% 6.30% 3.23% 4.44%;
  width: 6%;
  cursor: pointer;
}

.header
{
    background-color:#f26c4f;
}


.newsfeed-filter
{
    color:#505050;    
}

.newsfeed-filter div.active
{
    border-bottom-color:#d66147;
    border-bottom-width:10px;
}

.newsfeed-filter div
{
    display:inline-block;
    border-style:solid;
    border-width:0px;
    border-color:#505050;
}

div.newsfeed-filter-playground
{
    width:49%;
    border-right-color:#505050;
    border-right-width:1px;

}

.newsfeed-filter-playground>span
{
    display:inline-block;
    width:43.52%;
    margin:3.75% 26.85% 3.49% 38.88%

}

.newsfeed-filter-mychallenges
{
    width:50%;
}

.newsfeed-filter-mychallenges>span
{
    display:inline-block;
    width:54.26%;
    margin:3.75% 13.14% 3.49%  22.96%
}

.notification-item
{
    border-color:#505050;
    border-style:solid;
    border-width:2px;
    height:12.34%
}
.notification-image
{
    display:inline-block;
    margin:2.6% 7.69% 2.76% 5.37%;
    max-width:15%;
}

.notification-image img
{
   max-width:100%;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.notification-content
{
    display:inline-block;
    width:64%;
}
.notification-content-text
{
    color:#000000;
}
.notification-content-time
{
    color:#505050;
}
.box-title
{
}

.oldDesign
{
    color:#000000;
}

.box-title>div,.follow-button
{
    display:inline-block;
}

.challenge-details
{
    width:62%;
    padding:2.78% 0% 3.06% 2.5%;
}
.challenge-name
{
    color:#000000;
}
.challenge-creator
{
    color:#505050;
    padding-top:6px;
    padding-left:7px;
}
.follow-button
{
    border-style:solid;
    border-width:1px;
    border-color:#f26c4f;
    width:29%;
    text-align:center;
}
.follow-text
{
    display:inline-block;
    color:#f26c4f;
    margin:auto 0;
}

.share-button
{
    border-style:solid;
    border-width:1px;
    border-color:#f26c4f;
    width:29%;
    text-align:center;
}
.share-text
{
    display:inline-block;
    color:#f26c4f;
    margin:auto 0;
}

.box-item-footer-chosen-details
{
    display:inline-block;
    width:10.65%;
    margin:3.43% 3.61% 3.61% 3.15%;
}
.box-item-footer-chosen-number
{
    color:#000000;
}
.box-item-footer-chosen-text
{
    color:#505050;
}
.small-gallery-picture
  {
    width: 0px;
    height:100px;
    background-position: center;
    display:inline-block;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
  }
 .small-gallery-picture.second
  {
    width: 18%;
    float:right;
  }
 .small-gallery-picture.first
  {
    width: 75%;
  }

.small-gallery-profiles,.small-gallery-profile.small-gallery-profile-show
{
    display:inline-block;
}
.small-gallery-profiles
{
    margin-left:2.58%;
    width:58.15%;
}
.small-gallery-profile img
{
    width:100%;
    float:left;
}
.small-gallery-profile
{
    margin-right:4.46%;
    width:14.65%;
    display:none;
}

.small-gallery-title
{
    height:100px;
}


.small-gallery-title-panel
{
    display:inline-block;
    float:left;
}

.small-gallery-follow,.small-gallery-share
{
    display:inline-block;
    float:right;
}

.small-gallery .btn-group
{
    vertical-align:inherit;
}

.img-small-galery
{
    width: 80%;
}
.galeryDiv
{
    white-space:nowrap;
}
.top-buffer 
{ 
    margin-top:20px; 

}

div.container-fluid
{
    padding-left:0px;
    padding-right:0px;
}

.nospace.panel-body
{
    padding:0px;
}
.nospace.row
{
    margin:0px;
}
.small-gallery
{
    background-color:gray;
}

.chosen-navigation
{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 500;
    display:inline-block;
    /*margin-top:12%;*/
    width:83.87%;
}
.chosen-navigation>div
{
    display:inline-block;
    width:83.87%;
}

.chosen-navigation-profile
{
    background-color:#f26c4f;
}

.chosen-navigation-profile-img
{
    background-color:#f26c4f;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    height:49.75%;
    width:33.07%;
    margin:10.66% 33.41% 0% 33.50%;
}
.chosen-navigation-profile-name
{
    background-color:#f26c4f;
    display:block;
    width:33.07%;
    margin:2% 0% 6.57% 33.50%;
    text-align:center;
}


.chosen-navigation-menu
{
    height:55%;
    color:#505050;
    background-color:#ffffff;

}
.chosen-navigation-menu-item
{
}
.chosen-navigation-menu-item-img
{
    width:10%;
    margin: 0px 9.61% 0px 10.84px;
}
.chosen-navigation-menu-item-text
{
    display:inline-block;
}


@media (min-width:1080px)
{
    html
    {
        width: 1080px;
        margin: 0 auto;
    }
    .chosen-navigation
    {
        width: 850px;
    }
}