﻿html {
    direction:rtl;

}
ol
{
    -webkit-padding-start: 0px;
} 
   ol.round li {
        margin: 25px 0;
        padding-right: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") right no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") right no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") right no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") right no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") right no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") right no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") right no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") right no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") right no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") right no-repeat;
        }
