﻿
<div class="row">


    <div ng-repeat="group in groups" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{group.Group.Name}}</h3>
        <h4>{{group.Group.Description}}</h4>
        <p>There are {{group.SumOfUser}} users in Group</p>
        <p>There are {{group.SumOfStories}} stories in Group</p>
      </div>
    </div>
  </div>
</div>
