﻿
<form name="myForm" novalidate>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="username" ng-model="username" required>
      <span class="error" ng-show="(myForm.username.$dirty && myForm.username.$invalid) || formdirty">
          <span ng-show="myForm.username.$error.required">Username is required.</span>
      </span>
    </div>
    <div class="btn-group" role="group" aria-label="..." ng-click="Login()">
      <button type="button" class="btn btn-default">Continue</button>
    </div>
</form>

