﻿<h2 ng-show="noItems">You have no stories</h2>
    <div ng-show="noItems" class="btn-group" role="group" aria-label="..." ng-click="CreateNewStory()" >
      <button type="button" class="btn btn-default">Create a new story</button>
    </div>

<div class="row">


<div ng-repeat="story in currentstories" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{story.Title}}</h3>
        <p>{{story.Description}}</p>
        <p>
            <a class="btn"  ng-click="UnderConstructor()" role="button">Details</a> 
            <a  class="btn" ng-click="UnderConstructor()" role="button">Edit</a>

        </p>
      </div>
    </div>
  </div>
</div>
    <div class="btn-group" role="group" aria-label="..." ng-click="Add()" ng-show="isShowMoreButton">
      <button type="button" class="btn btn-default">Show More Stories</button>
    </div>

   