﻿<form name="myForm" novalidate>

    <div class="form-group">
  <input type="text" class="form-control" placeholder="Title" aria-describedby="sizing-addon1" required name="Title" ng-model="Title">
          <span class="error" ng-show="(myForm.Title.$dirty && myForm.Title.$invalid) || formdirty">
          <span ng-show="myForm.Title.$error.required">Title is required.</span>
      </span>

</div>

    <div class="form-group">
  <input type="text" class="form-control" placeholder="Description" aria-describedby="sizing-addon1" name="Description" required ng-model="Description">
        <span class="error" ng-show="(myForm.Description.$dirty && myForm.Description.$invalid) || formdirty">
          <span ng-show="myForm.Description.$error.required">Description is required.</span>
      </span>
</div>

    <div class="form-group">
      <textarea rows="3" class="form-control" placeholder="Content" aria-describedby="sizing-addon1" required name="Content" ng-model="Content"></textarea>
        <span class="error" ng-show="(myForm.Content.$dirty && myForm.Content.$invalid) || formdirty">
          <span ng-show="myForm.Content.$error.required">Content is required.</span>
      </span>
</div>


<div class="form-group">
  <select class="form-control" ng-model="GroupId" name="GroupId" required>
    <option value="" disabled>Select Group</option>
    <option ng-repeat="group in groups" value="{{group.Id}}">{{group.Name}}</option>
  </select>
        <span class="error" ng-show="(myForm.GroupId.$dirty && myForm.GroupId.$invalid) || formdirty">
          <span ng-show="myForm.GroupId.$error.required">Group is required.</span>
      </span>
</div>
    </form>
    <div class="btn-group" role="group" aria-label="..." ng-click="CreateNewStory()">
      <button type="button" class="btn btn-default">Create New Story</button>
    </div>